@porscheinformatik:registry=https://artifactory.porscheinformatik.com/artifactory/api/npm/npm-carfin/
//artifactory.porscheinformatik.com/artifactory/api/npm/npm-carfin/:always-auth true
/artifactory.porscheinformatik.com/artifactory/api/npm/npm-carfin/:_authToken $CARFIN_NPM_TOKEN
