<div class="input-wrapper flex-row place-content-stretch-flex-start align-items-stretch gap-2" >
  <mat-checkbox [checked]="paginationEnabled" (change)="paginationEnabled = !paginationEnabled">
    Show Pagination
  </mat-checkbox>
  <mat-checkbox [checked]="filterEnabled" (change)="filterEnabled = !filterEnabled">
    Show Filter
  </mat-checkbox>
</div>

<mad-data-table
  [displayedColumns]="displayedColumns"
  [tableData]="tableData"
  [defaultPageSize]="10"
  [paginationEnabled]="paginationEnabled"
  [filterEnabled]="filterEnabled"
>
</mad-data-table>
