<div class="flex-column page-container">
  <div class="flex-row align-items-stretch place-content-stretch-flex-start">
    <mat-toolbar>
      <mat-toolbar-row>

        <div class="flex-row flex-auto align-items-stretch place-content-stretch-flex-start gap-2">
          <!-- logo -->
          <div class="project-title"><a routerLink="/intro"> Project title</a></div>

          <button mat-button [matMenuTriggerFor]="layouts" >
            Layouts
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #layouts="matMenu">
              <button mat-menu-item routerLink="base-page-layout">Base Pagelayout</button>
              <button mat-menu-item routerLink="flowbar-page-layout">Flowbar Layout</button>
              <button mat-menu-item routerLink="sidebar-page-layout">Sidebar Layout</button>
          </mat-menu>

        </div>

        <div class="flex-row flex-auto align-items-stretch place-content-stretch-flex-end">
          <div>
            <!-- notifications button-->
            <button mat-button>
              <mat-icon matBadge="5" matBadgeSize="small" color="primary">notifications</mat-icon>
            </button>
            <button mat-button [matMenuTriggerFor]="applicationSwitch">
              <mat-icon color="primary">apps</mat-icon>
            </button>
            <mat-menu #applicationSwitch="matMenu" xPosition="before">
              <button mat-menu-item>
                Application 1
              </button>
              <button mat-menu-item>
                Application 2
              </button>
              <button mat-menu-item class="current-page">
                Application 3
              </button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="accountMenu">
              <mat-icon color="primary">account_circle</mat-icon>
            </button>
            <mat-menu #accountMenu="matMenu">
              <button mat-menu-item>
                User Settings
              </button>
              <button mat-menu-item>Logout</button>
            </mat-menu>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="flex-row flex-auto align-items-stretch place-content-stretch-flex-start w-full h-full">
    <router-outlet></router-outlet>
  </div>
</div>
