.flex-row{
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}

.align-items-center{
  align-items: center;
}

.place-content-center-space-between{
  place-content: center space-between;
}

.place-content-center{
  place-content: center;
}

.gap-1{
  gap: 1em;
}
