@use 'styles';
@use '@porscheinformatik/material-addons/themes/common/theme';

.mat-list-item {
  color: #737373;
}

.active-link {
  background: map-get(theme.$primary-palette, 50);
  color: map-get(theme.$primary-palette, 900);
}

.active-parent-link {
  background: var(--background-color);
  color: map-get(theme.$primary-palette, 900);
}

.space-icon {
  width: 1px;
}
