@use 'styles';
@use '@porscheinformatik/material-addons/themes/common/theme';

//FIXME Use a theme color (replace this everywhere) and remove styling here
.mat-mdc-list-item {
  color: #737373;
}

.active-link {
  background: map-get(theme.$primary-palette, 50);
  color: map-get(theme.$primary-palette, 900);
}

.active-parent-link {
  background: map-get(theme.$primary-palette, background-color);
  color: map-get(theme.$primary-palette, 900);
}

.space-icon {
  width: 1px;
}

.arrow-icons {
  vertical-align: middle;
}

.list-item-avatar {
  padding-top: 10px;
}

a {
  color: inherit;
  text-decoration: inherit;
}
