@use 'sass:map';
@use './common/styles' as common;
@use './common/theme' as theme;
@use '@angular/material' as mat;
@import 'common/button';

$theme-name: 'poa';

$primary-palette: (
  50: #e8f3f3,
  100: #e2fafb,
  200: #c5f5f8,
  300: #a8f0f4,
  400: #8cebf1,
  500: #14a1a9,
  600: #32d3da,
  700: #23c0c7,
  800: #1ea4aa,
  900: black,
  A100: #ccfdff,
  A200: #adfcff,
  A400: #86faff,
  A700: #16f7ff,
  contrast: common.$contrast,
  background-color: #fcfcfc,
  warn-color: red,
);

@include mat.core();

$custom-theme: theme.build-custom-theme($theme-name, $primary-palette, common.$default-palette);

@include mat.all-component-themes($custom-theme);
@include common.theme($theme-name, $custom-theme);
